<%- include include/header %>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#loginBtn").click(function() {
            var data = {
                name:$("#name").val(),
                password:$("#password").val()
            }
            $.post("/login",data,function(result){
                if(result.code){
                    location.href = result.redirect;
                }else{
                    $(".alertText").text(result.message);
                    $("#errorTip").show();
                }
            });
        });

    });

</script>
<div id="body" class="container">
    <div class="container">
        <h1>Login</h1>

        <div class="contact-form">
            <div class="col-md-4"></div>
            <form class="form-horizontal col-md-4" role="form" id="loginForm" method="post">

                <div class="form-group">
                    <label for="name" class="col-md-3">Name</label>
                    <div class="col-md-9">
                        <input id="name" type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-3">Password</label>
                    <div class="col-md-9">
                        <input id="password" type="password" class="form-control" name="password" placeholder="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <a id="loginBtn" class="btn btn-lg btn-primary">Login</a>
                    </div>
                </div>
            </form>
            <div class="col-md-4"></div>
        </div>

        <!-- contact form -->
    </div>
</div>

<%- include include/footer %>